<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>akitiltka</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="left-info">
            <img src="https://i.imgur.com/07n2N6N.jpeg" alt="" class="profile-picture">
            <h1>Привет! Меня зовут </h1>
            <p class="add">Я веб-разработчик из России. Пишу разные вещи на js и тд.</p>
            <div class="info">
                <p></p>
    </div>
</div>
<div class="projects">
  <h2 class="projects-h2"><span class="completed">Завершенные</span> проекты</h2>
  <a href="https://spidernodes.space" class="spidernodes-button">
    <div class="spidernodes">
      <div class="html-logo">
        <img src="./png-transparent-logo-html-html5.png" alt="HTML Logo">
        <img src="./css.png" alt="CSS Logo">

      </div>
      <h3>SpiderNodes</h3>
      <p>Март 2024 - до сих пор.</p>
      <p>SpiderNodes - это надежный хостинг, который обеспечивает<br> высокую скорость и безопасность для вашего сервера.</p>
    </div>

    <a href="https://shadowmanager.space" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./png-transparent-logo-html-html5.png" alt="HTML Logo">
          <img src="./css.png" alt="CSS Logo">

        </div>
        <h3>ShadowManager</h3>
        <p>Март 2024 - до сих пор.</p>
        <p>ShadowManager — многофункциональный бот, <br> предназначенный для улучшения и защиты вашего сервера Discord.</p>
      </div>
    </a>

    
    <a href="https://akitiltka.space" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./png-transparent-logo-html-html5.png" alt="HTML Logo">
          <img src="./css.png" alt="CSS Logo">

        </div>
        <h3>akitiltka.space</h3>
        <p>Март 2024 - до сих пор.</p>
        <p>Сайт на котром вы щас находитесь.</p>
      </div>
    </a> 
    <a href="https://github.com/Elytrya/WarivetryProject" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./png-transparent-logo-html-html5.png" alt="HTML Logo">
          <img src="./css.png" alt="CSS Logo">

        </div>
        <h3>warivetryproject.xyz {old}</h3>
        <p>Декабрь 2023 - Январь 2024.</p>
        <p>Старый сайт WarivetryProject </p>
      </div>
    </a> 
    <a href="https://github.com/Akitilltka/akitiltka" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./png-transparent-logo-html-html5.png" alt="HTML Logo">
          <img src="./css.png" alt="CSS Logo">

        </div>
        <h3>akitiltka.space {OLD}</h3>
        <p>Ноябрь 2023 - Декабря 2023.</p>
        <p>Старый сайт akitiltka.space</p>
      </div>
    </a> 
    <a href="https://github.com/Elytrya/lousky" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./png-transparent-logo-html-html5.png" alt="HTML Logo">
          <img src="./css.png" alt="CSS Logo">

        </div>
        <h3>LouSky {old}</h3>
        <p>Сентябрь 2023 - Октябрь 2023.</p>
        <p>Старый сайт LouSky</p>
      </div>
    </a> 
    <a href="https://github.com/Elytrya/rilikclient" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./png-transparent-logo-html-html5.png" alt="HTML Logo">
          <img src="./css.png" alt="CSS Logo">

        </div>
        <h3>RillikClient [OLD]</h3>
        <p>Октябрь 2023 - Ноябрь 2023</p>
        <p>Сайт для чит клиента RillikClient.</p>
      </div>
    </a> 
    <a href="https://github.com/Akitilltka/rillikclienthack.fun" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./png-transparent-logo-html-html5.png" alt="HTML Logo">
          <img src="./css.png" alt="CSS Logo">

        </div>
        <h3>rillikclienthack.fun [VUE.JS] [OLD]</h3>
        <p>Октябрь 2023 - Ноябрь 2023</p>
        <p>Сайт для чит клиента RillikClient. Написан на vue.js</p>
      </div>
    </a> 
    <a href="https://github.com/Akitilltka/rillikclienthack.fun" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./png-transparent-logo-html-html5.png" alt="HTML Logo">
          <img src="./css.png" alt="CSS Logo">

        </div>
        <h3>jokeapi_vuejs [OLD]</h3>
        <p>Октябрь 2023 - Ноябрь 2023</p>
        <p>Сайт который нужен был для академии.</p>
      </div>
    </a> 
    <a href="https://github.com/Elytrya/akitiltka.space" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./png-transparent-logo-html-html5.png" alt="HTML Logo">
          <img src="./css.png" alt="CSS Logo">

        </div>
        <h3>akitiltka.space [VUE.JS] [OLD]</h3>
        <p>Октябрь 2023 - Ноябрь 2023</p>
        <p>Старый сайт akitiltka.space. Написан на vue.js</p>
      </div>
    </a> 
    <a href="https://github.com/Elytrya/jokeapi_vuejs" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./png-transparent-logo-html-html5.png" alt="HTML Logo">
          <img src="./css.png" alt="CSS Logo">

        </div>
        <h3>jokeapi_vuejs [OLD]</h3>
        <p>Октябрь 2023 - Ноябрь 2023</p>
        <p>Сайт который нужен был для академии.</p>
      </div>
    </a> 

    <a href="https://github.com/Elytrya/requestmanager" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./python.png" alt="python">

        </div>
        <h3>requestmanager</h3>
        <p>Октябрь 2023 - Ноябрь 2023</p>
        <p>Обычный парсер для python</p>
      </div>
    </a> 

    <a href="https://github.com/Elytrya/Mineparser" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./python.png" alt="python">

        </div>
        <h3>Mineparser</h3>
        <p>Март 2024 - До сих пор</p>
        <p>Парсер серверов для майнкрафт</p>
      </div>
    </a> 

    <a href="https://github.com/Elytrya/PCControl.py" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./python.png" alt="python">

        </div>
        <h3>PCControl</h3>
        <p>Январь 2024 - Февраля 2024 </p>
        <p>PCControl - удаленный доступ к ПК Через бота в дискорд</p>
      </div>
    </a> 
  </a>

    <a href="https://github.com/Elytrya/TimeControll" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./python.png" alt="python">

        </div>
        <h3>TimeControll</h3>
        <p>Февраля 2024 - Март 2024</p>
        <p>TimeControl - напоминания через дискорд</p>
      </div>
    </a> 
    <a href="https://github.com/Elytrya/FontChanger" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./python.png" alt="python">

        </div>
        <h3>FontsChanger</h3>
        <p>Март 2024 - Апрель 2024</p>
        <p>FontsChanger - красивый шрифт</p>
      </div>
    </a> 

    <a href="https://github.com/Elytrya/Generator-user-passwords" class="spidernodes-button">
      <div class="spidernodes">
        <div class="html-logo">
          <img src="./python.png" alt="python">

        </div>
        <h3>Generator-user-passwords </h3>
        <p>Март 2024 - Апрель 2024</p>
        <p>Генератор паролей и фейковых пользователей</p>
      </div>
    </a> 

    <h2 class="projects-h2"><span class="loading">Проекты в </span> разарботке</h2>

    <a href="" class="spidernodes-button">
        <div class="spidernodes">
          <div class="html-logo">
            <img src="./python.png" alt="python">
  
          </div>
          <h3>DepressionAI for Discord</h3>
          <p>Июнь 2024 - до сих пор.</p>
          <p>DepressionAI for discord - это дискорд бот <br> с нейросетью с поддержкой генерации изображений и GPT 4</p>
        </div>
      </a> 

      <a href="https://www.twitch.tv/depression_ai" class="spidernodes-button">
        <div class="spidernodes">
          <div class="html-logo">
            <img src="./python.png" alt="python">
  
          </div>
          <h3>DepressionAI for streamers </h3>
          <p>Июнь 2024 - до сих пор</p>
          <p>аниме тяночка</p>
        </div>
      </a> 
      


      <a href="Doll Resolation" class="spidernodes-button">
        <div class="spidernodes">
          <div class="html-logo">
            <img src="python.png" alt="python">
  
          </div>
          <h3>DepressionAI for streamers </h3>
          <p>Июнь 2024 - до сих пор</p>
          <p>AI стримерша</p>
        </div>
      </a> 

      <a href="Doll Resolation" class="spidernodes-button">
        <div class="spidernodes">
          <div class="html-logo">
            <img src="unity.png" alt="python">
  
          </div>
          <h3>Doll Resolation </h3>
          <p>Июнь 2024 - до сих пор</p>
          <p>HORROR игра про кукол</p>
        </div>
      </a> 
</div>
<h2 class="projects-h2">Проекты на <span class="pause">паузе</span> </h2>
<a href="https://spooktube.fun" class="spidernodes-button">
    <div class="spidernodes">
      <div class="html-logo">
        <img src="./python.png" alt="python">

      </div>
      <h3>spooktube.fun </h3>
      <p>апрель 2024 - до сих пор</p>
      <p>Сайт который давно надо было сделать,<br> но  я ленивая жопа</p>
    </div>
  </a> 

<footer>
<p>2024 elytrya</p>
</footer>   
</body>
</html>