<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>akitiltka.space</title>
    <link rel="stylesheet" href="../static/projects.css">
</head>
<body>
    <div class="container">
        <h1>My projects</h1>
        <p>
            On this page you can see all projects by me</p>
        <div class="projects">
            <div class="project">
                <h2>spidernodes</h2>
                <p class="description">Hosting for JS / PYTHON</p>
                <p class="tech-stack">HTML, CSS, JavaScript and more</p>
                <p class="status status-active">ACTIVE</p>
            </div>
            <div class="project">
                <h2>MultiEx</h2>
                <p class="description">Mod for Content Warning</p>
                <p class="tech-stack">C#</p>
                <p class="status status-active">ACTIVE</p>
            </div>
            <div class="project">
                <h2>Generator user passwords</h2>
                <p class="description">Generator user passwords</p>
                <p class="tech-stack">Python</p>
                <p class="status status-active">
                    development completed </p>
            </div>
            <div class="project">
                <h2>Mineparser </h2>
                <p class="description">Minecraft parser servers</p>
                <p class="tech-stack">Python</p>
                <p class="status status-paused">
                    Paused </p>
            </div>
            <div class="project">
                <h2>nofall</h2>
                <p class="description">Minecraft plugin. NoFall</p>
                <p class="tech-stack">Java</p>
                <p class="status status-active">
                    development completed </p>
            </div>
            <div class="project">
                <h2>TimeControll </h2>
                <p class="description">TimeControll Discord bot </p>
                <p class="tech-stack">Python</p>
                <p class="status status-active">
                    development completed </p>
            </div>
            <div class="project">
                <h2>PCControl </h2>
                <p class="description">Control your PC from Discord Bot </p>
                <p class="tech-stack">Python</p>
                <p class="status status-active">
                    development completed </p>
            </div>
            <div class="project">
                <h2>Doll Resolation</h2>
                <p class="description">Horror game about dolls</p>
                <p class="tech-stack">Unity 3D</p>
                <p class="status status-paused">In develomping</p>
            </div>
            <div class="project">
                <h2>DepressionAI</h2>
                <p class="description">Discord bot</p>
                <p class="tech-stack">Python, HTML, CSS, JavaScript</p>
                <p class="status status-paused">In develomping</p>
            </div>
            <a class="button" href="index.html">Back</a>
        </div>
    </div>
    <script src="../scripts/script.js"></script>
</body>
</html>
